*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
    
}
#navber{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navber li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navber li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navber li a:hover,
#navber li a.active {
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    
    height: 668px;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 110px 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
#hero h1{
    color: #14d7ca;
    font-size: 35px;
}
#hero button{
   
    background-size: 5000px  5000px ;
    background-color: transparent;
    color: #14d7ca;
    border-radius: 20px;
    padding: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    border-color: white;
    font-size: 15px;
    text-align: center; 
}
.logo{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'spartan', sans-serif;
    text-decoration: none;
    color: #088178;
}
.img1{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#feature .fe-box{
    width: 180px;
    text-align: center;padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #a9e4e1;
}
#product1{
    text-align: center;
}
#product1 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .cont{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .cont:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
#product1 .cont img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
#product1 .cont .desc{
    text-align: start;
    padding: 10px 0;
}
#product1 .cont .desc span{
    color: #606063;
    font-size: 12px;
}
#product1 .cont .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .cont .desc i{
    font-size: 12px;
    color: rgb(243, 181, 25);    
}
#product1 .cont .desc h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .cont .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#product1 h2{
    padding: 20px;
    font-size: 30px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/newsletterBanner.webp);
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #143051;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
.text{
    padding: 10px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;}
/*shop page*/
#page-header{
background-image: url(img/shopb1.png);
width: 100%;
height: 40vh;
display: flex;
flex-direction: column;
padding: 110px 70px;
}
#page-header h2 ,
#page-header p {
    color: #000;
    font-size: 25px;
}
#page-header h2 {
    font-size: 30px;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 5px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/*single product*/
#prodetails .single-pro-image{
    width: 300px;
    margin-right: 50px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails{
    display: flex;
    margin-top: 20px;  
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
    outline: none;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
footer.copyright {
    text-align: start;
}
/*Single product*/

/*contact page*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%; 
}
#contact-details .details span,
#from-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#from-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#from-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#from-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#from-details form input,
#from-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#from-details form button{
    background-color: #088178;
    color: #fff;
}
#from-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#from-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#from-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: #606063;
}
#from-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
/*page cart*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
font-weight: 700;
font-size: 13px;
text-transform: uppercase;
padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#crat-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon {
width: 50%;
margin-bottom: 30px;
}
#coupon h3,
#Subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
#Subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#Subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#Subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#Subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
/*about-page*/
#about-head img{
    width: 50%;
    height: auto;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
#about-head h2{
    font-size: 40px;
}